# Задание 1

Таблица числа торговых дней по компаниям варианта для каждого календарного года за весь период (каждому календарному году соответствует отдельная колонка).

In [16]:
# время выполнения 4.1083 s
from IPython.display import Image
import os
import pandas as pd
from datetime import datetime
import seaborn as sns

In [17]:
%%javascript
var k = IPython.notebook.kernel;
k.execute('this_nb_name_ext = "' + IPython.notebook.notebook_name + '"');

In [18]:
def thisfname(): #Имя этого блокнота
    this_notebook_name = os.path.splitext(this_nb_name_ext)[0]
    return this_notebook_name

In [19]:
def ndays(year,file):
    df = pd.read_csv(file, sep = ',' , engine='python') # чтение файла
    df['<DATE>'] = pd.to_datetime(df['<DATE>'], format='%Y%m%d')
    condition = (df['<DATE>'] >= datetime(year, 1, 1)) & (df['<DATE>'] < datetime(year + 1, 1, 1))
    return len(df[condition])

# преобразлвание в latex таблицу
def _repr_latex_(self):
    return r'\scalebox{0.7}{\tabcolsep=0.11cm\centering{%s}}' % self.to_latex()

pd.set_option('display.notebook_repr_html', True)
pd.DataFrame._repr_latex_ = _repr_latex_  # monkey patch pandas DataFrame

In [20]:
tickers = ['AKRN', 'APTK', 'CHMK', 'LKOH', 'SBER'] # Тикеры
years = range(2000, 2019)
myDataPath = 'C:/Users/timha/OneDrive/Рабочий стол/лаба/'

In [21]:
dfNDays = pd.DataFrame(index = tickers)
for year in years:
    yearDays = []
    for ticker in tickers:
        yearDays.append(ndays(year, myDataPath + ticker + '.txt'))
    dfNDays[str(year)] = yearDays
dfNDays

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
AKRN,0,0,0,0,0,0,50,248,245,249,248,248,255,250,250,250,252,252,254
APTK,0,0,0,19,0,1,188,248,245,248,248,248,255,250,250,250,252,252,254
CHMK,0,0,0,0,0,0,0,0,1,137,248,247,254,242,246,250,252,252,254
LKOH,249,251,250,249,250,248,248,248,246,249,248,248,255,250,250,250,252,252,254
SBER,249,251,250,249,250,248,238,246,246,249,248,248,255,250,250,250,252,252,254

In [22]:
dfNDays.to_csv(thisfname() + ".Табл Число ТД.csv", index=False, decimal=',', sep=';', encoding='utf-8-sig')