### Задание 2

Таблица годовых стоимостных объемов торгов по компаниям варианта за весь период. Объем торгов рассчитывается в миллиардах с округлением до 0,1. Необходимо указать единицу измерения объема.

In [15]:
# время выполнения 4.18433 s
import IPython
import os
import pandas as pd
from datetime import datetime
import random
import imgkit

In [16]:
%%javascript
var k = IPython.notebook.kernel;
k.execute('this_nb_name_ext = "' + IPython.notebook.notebook_name + '"');

In [17]:
def thisfname(): #Имя этого блокнота
    this_notebook_name = os.path.splitext(this_nb_name_ext)[0]
    return this_notebook_name

# преобразлвание в latex таблицу
def _repr_latex_(self):
    return r'\scalebox{0.7}{\small\tabcolsep=0.11cm\centering{%s}}' % self.to_latex()

pd.set_option('display.notebook_repr_html', True)
pd.DataFrame._repr_latex_ = _repr_latex_  # monkey patch pandas DataFrame

In [18]:
#<TICKER>,<PER>,<DATE>,<TIME>,<OPEN>,<HIGH>,<LOW>,<CLOSE>,<VOL>
def yrvol(year,file,unit): 
    csvtab = pd.read_csv(file, sep = ',', engine='python') # чтение файла и преобразование даты
    df = pd.DataFrame()
    df['date'] = pd.to_datetime(csvtab['<DATE>'], format='%Y%m%d') # преобразование '<DATE>' к datetime
    df['close']= csvtab['<CLOSE>'] # столбец df.close = csvtab.<CLOSE>
    df['vol'] = csvtab['<VOL>'] # столбец df.vol = csvtab.<VOL>
    df['rvol'] = df['close']*df['vol'] # df.close * df.vol
    condition = (df['date']>=datetime(year, 1, 1)) & (df['date']<datetime(year + 1, 1, 1)) # проверка на дату
    return sum(df['rvol'][condition])/unit # вернуть df.loc[df.close * df.vol][проверка на дату]

In [19]:
tickers = ['AKRN', 'APTK', 'CHMK', 'LKOH', 'SBER'] # Тикеры
myDataPath = 'C:/Users/timha/OneDrive/Рабочий стол/лаба/' # путь к файлам
years = range(2000, 2019) # дата

In [20]:
dfRVols = pd.DataFrame(index = tickers)
for year in years:
    yearRVols = []
    for ticker in tickers:
        yearTickerRVol = yrvol(year, myDataPath + ticker + '.txt', 1000000000) # расчёт стоимостных объемов торгов
        yearRVols.append(round(yearTickerRVol,1)) # округление
    dfRVols[str(year)] = yearRVols
dfRVols

,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,2011,2012,2013,2014,2015,2016,2017,2018
AKRN,0.0,0.0,0.0,0.0,0.0,0.0,0.1,1.0,5.9,6.0,8.4,13.7,6.2,4.5,4.7,5.5,4.6,4.8,4.7
APTK,0.0,0.0,0.0,0.0,0.0,0.0,0.1,0.7,0.7,14.9,22.4,7.2,2.9,1.4,0.5,1.4,1.6,1.0,0.4
CHMK,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.9,6.6,1.2,0.2,0.1,0.1,0.7,0.3,0.3,0.1
LKOH,22.9,43.3,95.2,191.5,351.5,715.4,1688.1,1391.7,1571.2,991.8,762.8,964.2,691.3,467.4,681.0,711.3,597.8,464.1,868.7
SBER,6.7,4.5,22.3,21.7,74.9,94.1,409.7,1145.0,1612.6,4915.6,4075.7,5079.8,2970.2,1988.9,2674.0,2292.8,2228.6,2037.1,3507.0

In [21]:
dfRVols.to_csv(thisfname() + ".Объем торгов в миллиардах.csv", index=False, decimal=',', sep=';', encoding='utf-8-sig')